@import "../../styles/css-variables.scss";

.product-col,
.price-col,
.quantity-col,
.total-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e1e1e4;
  font-family: $primary-font;
  color: $text-color;
  padding: 1rem 0;
}

.product-col {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}
.heading-total {
  justify-self: flex-end !important;
}
.total-col {
  justify-content: flex-end;
}
.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .image {
    max-height: 100px;
    height: 100%;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.product-name {
  height: 100%;
  align-self: flex-start;
  padding-left: 10px;
  h3 {
    font-family: $primary-font;
    font-size: 14px;
    line-height: 1.2rem;
  }
  h4 {
    font-family: $primary-font;
    color: #a1a8c1;
    line-height: 2rem;
    font-size: 14px;
  }
}

.quantity-button,
.quantity-value {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1rem;
  color: #bebfc2;
  background-color: #e7e7ef;
  width: 1rem;
  text-align: center;
  font-family: $primary-font;
  display: inline-block;
}
.quantity-button {
  cursor: pointer;
  user-select: none;
}
.quantity-value {
  background: #f0eff2;
  width: 2rem;
  line-height: 1.5;
  font-size: 0.75rem;
}
