@import "../../styles/css-variables.scss";

.container {
  padding-top: 120px;
}

.title {
  margin-bottom: 76.4px;
  div {
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 36px;
      font-family: $primary-font;
      margin-bottom: 0.7rem;
    }

    ul {
      display: flex;

      span {
        text-align: center;
      }

      li {
        list-style: none;
        padding: 0 0.2rem;
        font-size: 1rem;
        font-family: $secondary-font;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.current {
  color: #fb2e86;
}
