.container {
    display: grid;
    grid-template-columns: 6fr 3fr;
    column-gap: 60px;
}

.container-blogs {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.container-side {
    display: grid;
    grid-template-columns: 1fr;
    height: 900px;
}

.container-img {
    width: 100%;
    height: auto;
}

.author-button {
    width: 7vw;
    background: #FFE7F9;
    border-radius: 5%;
    border:none;
    cursor: pointer;
    margin: 0  35px 0 5px;
    padding: 3px;
}

.date-icon{
}

.date {
    width: 7vw;
    min-width: 90px;
    background: #FFECE2;
    border-radius: 5%;
    border:none;
    cursor: pointer;
    margin: 0  35px 0 5px;
    padding: 3px;
}

.container-categories {
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.category {
    background:none;
    border:none;
    cursor: pointer;
    color:#151875;
    text-align: left;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
}
.category:hover {
    background: #ff5cce;
    border-radius: 3px;

}

.category-checked {
    background: #ff5cce;
    border-radius: 3px;
}

.container-recent-posts {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
}

.container-recent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap:10px;
    row-gap: 200px;
    width : 75%;
}

.container-follow {
    display: grid;
    width: 30%;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 8px 40px 0px #31208a0d;

}

.follow {
    margin: auto;
}

.container-tags {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}


.tag-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    text-align: left;
    text-decoration: underline;
    color: #151875;

}

.tag-button:hover {
    color: #FB2E86;
}

.tag-checked {
    color: #FB2E86;
}

.read-more {  
    display: inline-block;
    background:none;
    border:none;
    margin-top: 10px;
    padding:0;
    cursor: pointer;
    color:#151875;
    text-align: left;
    font-family: 'Lato';
}


.title {
    margin-top: 15px;
    font-family: 'Josefin Sans';
    color: #151875;
    font-size: 32px;
}

.text {
    margin-top: 17px;
    color : #8A8FB9;
    font-family: 'Lato';
    font-size: 16px;
}

.red-circle {
    margin-left: 3px;
    margin-bottom: 1px;
}


.side-titles {
    font-size: 22px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    
}

.search-form {
    height: 30px;
    width: 200px;
}


.recent-title {
    font-family: 'Josefin Sans';
    font-size: 14px;
    color: #3F509E;
}

.recent-date {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 11px;
    color: #8A8FB9;
}



.checkbox {
    display: none;
}