@import "../../styles/css-variables.scss";

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;

  h2 {
    font-family: $primary-font;
    color: $text-color;
    font-size: $section-heading-size;
    margin: 1rem 0;
  }
}

.nav {
  display: flex;
  li {
    display: inline-block;
    font-family: $secondary-font;
    color: $text-color;
    list-style: none;
    margin: 0 1rem;
    cursor: pointer;
  }
}

.active {
  border-bottom: 1px solid #fb2e86;
  color: #fb2e86 !important;
}
