@import "../../styles/css-variables.scss";

.single-category {
  width: 280px;
  margin-bottom: 1rem;
  text-align: center;

  h2 {
    font-family: $primary-font;
  }

  a {
    width: 100%;
    font-family: $secondary-font;
    font-weight: 600;
    color: #000;
    margin-bottom: 1rem;
  }
}
