.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr fit-content;
  grid-template-areas:
    "order-form cart-items"
    "order-form cart-summary";
  grid-gap: 2rem;
  width: 100%;
  padding: 5rem 0;
}
