@import "../../styles/css-variables.scss";

.card {
  margin: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.102) !important;
  cursor: pointer;

  &:hover {
    .card-description {
      background: #2f1ac4;

      h4,
      p {
        color: #fff;
      }
    }
  }
}

.card-media {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;

  .card-media__btn {
    position: absolute;
    bottom: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 8px 13px;
    background: #08d15f;
    color: #fff;
    font-family: $primary-font;
    cursor: pointer;
  }

  img {
    height: 150px;
    width: 150px;
  }
}

.card-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 16px;
  padding: 0.7rem;

  .card-description__title {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 1.1rem;
  }

  .card-description__colors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .card-description__col {
    width: 14px;
    height: 4px;
    border-radius: 10px;
  }

  .card-description__code {
    font-family: $primary-font;
    font-size: 0.9rem;
  }

  .card-description__price {
    font-family: $secondary-font;
    font-size: 0.9rem;
  }
}
