@import "../../../../styles/css-variables.scss";

.order-cont {
  border-radius: 27px;
  background: #fff;
  padding: 32px;

  .cont-text {
    .cont-header {
      font-size: 1.6rem;
      font-family: $primary-font;
      text-align: center;
      color: #333333;
    }
  }
}

.no-orders {
  text-align: center;
  font-family: $primary-font;
  margin-top: 4rem;
}