@import "../../styles/css-variables.scss";

.section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 380px);
  grid-template-rows: 370px 1fr;
  margin: 5rem 0;
  grid-gap: 3rem;
}

.table {
  grid-row: span 2;
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: 80px repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  h3 {
    font-family: $primary-font;
    font-size: 20px;
    color: #1d3178;
    line-height: 5rem;
    justify-self: flex-start;
  }
}

.product-col,
.price-col,
.quantity-col,
.total-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #e1e1e4;
  font-family: $primary-font;
  color: $text-color;
  padding: 1rem 0;
}

.product-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.heading-total {
  justify-self: flex-end !important;
}
.total-col {
  justify-content: flex-end;
}
.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 150px;
  overflow: hidden;

  .image {
    max-height: 100px;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}

.product-name {
  height: 100%;
  align-self: flex-start;
  padding-left: 10px;
  h3 {
    font-family: $primary-font;
    font-size: 14px;
  }
}

.quantity-button,
.quantity-value {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1rem;
  color: #bebfc2;
  background-color: #e7e7ef;
  width: 1rem;
  text-align: center;
  font-family: $primary-font;
  display: inline-block;
}
.quantity-button {
  cursor: pointer;
  user-select: none;
}
.quantity-value {
  background: #f0eff2;
  width: 2rem;
  line-height: 1.5;
  font-size: 0.75rem;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-family: $primary-font;
    font-size: 20px;
    color: #1d3178;
    line-height: 5rem;
    height: 80px;
  }
  .totals {
    background-color: #f4f4fc;
    width: 100%;
    height: 290px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .totals-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-bottom: 2px solid #e8e6f1;
      padding: 2rem 0 1rem 0;
      h4,
      span {
        font-family: $secondary-font;
        color: $text-color;
        font-size: 1.2rem;
      }
    }
  }
}

.taxinfo {
  display: flex;
  align-items: center;
  height: 3rem;
  p {
    margin: 0 1rem;
    font-family: $secondary-font;
    color: #8a91ab;
    font-size: 0.8rem;
  }
}

.checkout {
  background: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 1.4rem;
  color: white;
  height: 40px;
  background-color: #19d16f;
  font-family: $secondary-font;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.checkout:hover {
  background-color: #1ce77b;
}

.emptycart {
  height: 400px;
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-family: $primary-font;
  font-size: 2rem;
  color: $text-color;
}
