@import "../../styles/css-variables.scss";

.section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 380px);
}

.table {
  width: 100%;
  border-collapse: collapse;
  td {
    border-bottom: 1px solid #e1e1e4;
  }
}

.row {
  height: 100px;
  padding: 10px;
}

.product-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 150px;
  overflow: hidden;

  .image {
    max-height: 100px;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.product-name {
  height: 100%;
  align-self: flex-start;
  padding-left: 10px;
  h3 {
    font-family: $primary-font;
    font-size: 14px;
  }
}
