$image-size: 280px;

.item {
  width: image-size;
}

.image-container {
  position: relative;
  background-color: #f6f7fb;
  width: $image-size;
  height: $image-size;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 70%;
    max-height: 70%;
  }
}
