@import "../../../../styles/css-variables.scss";

.single-category {
  width: 280px;
  height: 109px;
  background: #dcdbfa;
  border-radius: 27px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(2n) {
    background: #fff;
  }

  .category-description {
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-description__name {
      font-family: $secondary-font;
      font-size: 1.2rem;
      color: #333333;
    }

    .category-description__spent {
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 0.9rem;
      color: #333333;
    }
  }
}
