// Root section
.profile-section {
  background: #f6f6f6;
  min-height: 100vh;
}

// Navigation styles
.navigation {
  margin-top: 5rem;
}

// Main section styles

main {
  display: flex;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
