 .slider .rec.rec-arrow {
    display: none;
  }
  
 .slider .rec.rec-dot {
    border-radius: 10px;
    width: 16px;
    height: 4px;
    background: #febad7;
    box-shadow: none;
  }
  
  .slider .rec.rec-dot_active {
    width: 24px;
    background: #fb2e86;
    box-shadow: none;
  }
  
  .slider .rec.rec-dot:hover {
    box-shadow: none;
  }


