// Fonts
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Lato", sans-serif;

// Colors
$secondary-color: #fb2e86;
$text-color: #151875;
$text-color-2: #111c85;
$sub-text-color: #8a8fb9;
$loader-color: #fb2e86;

// Sizes
$section-heading-size: 2.63rem;
$tr-pr-banner-height: 270px;

// TEMPORARY
$page-padding: 0 10rem;
