$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Lato", sans-serif;

$secondary-color: #fb2e86;
$text-color: #151875;
$text-color-2: #111c85;
$sub-text-color: #8a8fb9;

// TEMPORARY
$page-padding: 0 10rem;
