.row-container {
    display: grid;    
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2.604vw;
}

.img-container {
    margin-top:1.953vw;
    width: 80%;
    margin:auto 0;
}

#contact-img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .row-container {
        display: grid;    
        grid-template-columns: 1fr ;
        grid-gap: 2.604vw;
    }
    .img-container {
        display: none;
    }
}
