@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@300&display=swap");

.login-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 500px;
    box-shadow: 0 0 25px 10px rgb(248, 248, 251);
    padding: 50px;

    .login-container__title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 32px;
      line-height: 37.5px;
      text-align: center;
    }

    .login-container__para {
      margin-top: 0.5rem;
      font-family: "Lato", sans-serif;
      color: #9096b2;
      text-align: center;
    }

    .login-container__inputs {
      margin-top: 37px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.5rem;

      .login-inputs__email {
        height: 50px;
      }
    }

    .login-container__info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 13px;
      gap: 1.2rem;

      p {
        cursor: pointer;
        color: #9096b2;
        font-family: "Lato", sans-serif;
      }

      .login-info__register {
        text-align: center;
        color: #9096b2;
        font-family: "Lato", sans-serif;
      }

      button {
        background: #fb2e86;
      }
    }
  }
}
