@import "../../styles/css-variables.scss";

.partners {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 800px;
  }
}

.middle-shop-section {
  display: flex;
}
