@import "../../styles/css-variables.scss";

.temporary-container {
  position: relative;
  padding: $page-padding;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.partners {
  margin: 6rem 0;
  width: 60%;
  align-self: center;
}
