// Common styles
.flex {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  span {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    img {
      height: 60%;
    }
  }
}

.flex:hover {
  span {
    opacity: 1;
  }
}

// Applied to GridView items in the shop page
.vertical {
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;

  span:hover {
    background-color: white;
  }
}

// Applied to the ListView items in the shop page
.horizontal-bottom {
  position: relative;
  height: fit-content;
  width: 200px;
  justify-content: space-between;
  padding-left: 0;
  span {
    opacity: 1;
    height: 35px;
    width: 35px;
  }
}

// Applied to Featured Products items
.horizontal-top {
  height: 50%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  left: 0;

  span:hover {
    background-color: #eeeffb;
  }
}

.active {
  background-color: #3f509e;
}

.active:hover {
  background-color: #5565ad !important;
}

.large-image {
  max-width: 100%;
  max-height: 100%;
}
