@import "../../styles/css-variables.scss";

.top-bar {
  display: grid;
  grid-template-columns: 1fr 150px 250px 100px 150px 50px;
  height: 200px;
  align-items: center;

  h2 {
    font-family: $primary-font;
    color: $text-color;
  }

  label {
    font-family: $secondary-font;
    color: #3f509e;
  }

  input {
    height: 25px;
    border: 1px solid #e7e6ef;
    outline: none;
    padding-left: 0.7rem;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0 5px;
    height: fit-content;
    width: fit-content;
    position: relative;

    img {
      height: 12px;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../assets/icons/arrow.svg);
    background-size: contain;
    color: black;
    text-align: end;
    font-size: 0.9rem;
    border: 1px solid #e7e6ef;
    height: 25px;
    padding: 0 10px;
    option {
      padding: 1rem;
    }
  }
}

.perpage {
  width: 50px;
}
