@import "../../styles/css-variables.scss";

$discount-bg: url("../../assets/img/sale-badge-bg.svg");
$product-img-bg: url("../../assets/img/slider-product-image-bg.svg");
$container-height: 764px;

.container {
  padding-top: 140px;
}

.lamp-image {
  position: absolute;
  top: 140px;
  left: -20px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  height: calc($container-height - 40px);
  // padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 100%;
  margin-left: 7rem;
  h6 {
    font-size: 1rem;
    color: $secondary-color;
    font-family: $secondary-font;
    text-shadow: #f2f0ff 0px 0px 8px;
  }
  h2 {
    font-size: 3.3rem;
    inline-size: 100%;
    overflow-wrap: break-word;
    margin: 0.5rem 0 1rem 0;
    font-family: $primary-font;
    text-shadow: #f2f0ff 0px 0px 8px;
  }
  p {
    color: $sub-text-color;
    margin-bottom: 1rem;
    display: box;
    padding-right: 1rem;
    font-family: $secondary-font;
    line-height: 2rem;
    text-shadow: #f2f0ff 0px 0px 8px;
  }
  button {
    font-family: $primary-font;
  }
}

.product-image {
  height: 80%;
  background-image: $product-img-bg;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.discount {
  background-image: $discount-bg;
  position: absolute;
  top: 120px;
  right: 0;
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  span {
    font-size: 2rem;
    font-family: $primary-font;
  }
}

@media only screen and (max-width: 1100px) {
  .lamp-image {
    display: none;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: none !important;
  }
}
