$text-color: #f1f1f1;

h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.top-header {
  background-color: #7e33e0;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    height: 3rem;
    div {
      font-family: "Josefin Sans", sans-serif;
    }

    img {
      width: 25px;
      padding: 0.2rem;
    }
  }
}

.contact-info {
  height: 100%;
  display: flex;
  address {
    display: flex;
    font-family: Josefin Sans;
    font-size: 1rem;
    font-style: normal;
    line-height: 19px;
    align-items: center;
    padding-right: 1rem;
  }
}

.controls {
  display: flex;
  div {
    display: flex;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 19px;
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: $text-color;
  }
}

select {
  background: transparent;
  color: $text-color;
  font-size: 1rem;
  font-style: normal;
  line-height: 19px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

.grid-header {
  display: grid;
  grid-template-columns: 100px 1fr minmax(150px, 275px);
  height: 4.5rem;
  align-items: center;
  color: #0d0e43;
  h1 {
    font-family: Josefin Sans;
    font-size: 34px;
    line-height: 40px;
    cursor: pointer;
  }
}
