@import "../../styles/css-variables.scss";
@import "../../styles/mixins.scss";

$text-color: #f1f1f1;

h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.header {
  background-color: white;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 5;
  opacity: 0.95;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  animation: 0.5s slidein ease-in;
}

.top-header {
  background-color: #7e33e0;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    height: 3rem;
    div {
      font-family: "Josefin Sans", sans-serif;
    }

    img {
      width: 25px;
      padding: 0.2rem;
    }
  }
}

.contact-info {
  height: 100%;
  display: flex;
  address {
    display: flex;
    font-family: Josefin Sans;
    font-size: 1rem;
    font-style: normal;
    line-height: 19px;
    align-items: center;
    padding-right: 1rem;
  }
}

.controls {
  display: flex;
  div {
    display: flex;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 19px;
    display: flex;
    align-items: center;
  }

  a {
    position: relative;
    display: flex;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: $text-color;
  }
}
.indicator {
  @include centered-flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0d0e43;
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}

.grid-header {
  display: grid;
  grid-template-columns: 100px 1fr minmax(150px, 275px);
  grid-template-areas: "logo nav searchbar";
  min-height: 4.5rem;
  align-items: center;
  color: #0d0e43;
  background: white;
}

.logo {
  grid-area: logo;
  h1 {
    font-family: Josefin Sans;
    font-size: 34px;
    line-height: 40px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .contact-info {
    display: none !important;
  }

  .controls {
    width: 100%;
  }

  .grid-header {
    grid-template-columns: minmax(120px, 200px) 1fr;
    grid-template-rows: 60px 60px;
    grid-template-areas:
      "logo searchbar"
      "nav nav";
  }
}

@keyframes slidein {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
