.navigation {
  width: 100%;
  grid-area: nav;
  ul {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    padding: 0 3rem;
    justify-content: space-evenly;
    align-items: center;
    li {
      list-style: none;
      font-family: "Lato", sans-serif;
      margin: 0 0.6rem;

      a {
        text-decoration: none;
      }
    }
  }
}

.active {
  color: #fb2e86 !important;
}
