@import "../../styles/css-variables.scss";

.empty-products {
  font-family: $primary-font;
  font-size: 2rem;
  text-align: center;
  color: $text-color;
}

.list-container-filter {
  margin-left: 2.5rem;
}
