@import "../../styles/css-variables.scss";

.contact-way-title {
  padding-top: 1.302vw;
  width: 33.984vw;
  height: 2.865vw;
  font-family: $primary-font;
  font-size: 2.344vw;
  line-height: 3.125vw;
}

.contact-dot{
  display: block;
  float: left;
  margin-right: 0.651vw;
  width: 2.930vw;
  height: 2.930vw;
  border-radius: 50%;
}

#purple {
  background: #5726DF;
}
#pink {
  background: #FB2E86;
}
#orange {
  background: #FFB265;;
}
#green {
  background: #1BE982;;
}

.dot-container {
  display: grid;    
  grid-template-columns: 19.531vw 19.531vw ;
  grid-row-gap: 5.208vw;
  grid-column-gap: 0px;
  padding-top: 2.604vw;
}

.dot-text {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 1.042vw;
  line-height: 1.693vw;
  color: #8A8FB9;
}

@media only screen and (max-width: 800px) {
  .contact-way-title {
    padding-top: 40px;
    width: 100%;;
    height: auto;
    font-size: 20px;
    line-height: 20px;
  }

  .dot-container { 
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 0px;
    padding-top: 20px;
  }

  .contact-dot{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .dot-text {
    font-size: 14px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 500px) { 
  .dot-container { 
    grid-template-columns: 1fr;
  }
}