@import "../../styles/css-variables.scss";

.section {
  width: 100%;
  height: fit-content;
  padding: 5rem 0;
}

.navigation {
  width: 100%;
  margin-bottom: 3rem;
  ul {
    display: flex;
    li {
      list-style: none;
      margin-right: 2rem;
      font-family: $primary-font;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.active {
  text-decoration-line: underline;
}

.info {
  h3 {
    font-family: $primary-font;
    margin: 1rem 0;
  }

  p {
    font-family: $primary-font;
    color: #a9acc6;
    line-height: 29px;
  }
}
