@import "../../styles/css-variables.scss";

.featured-section,
.shopex-section {
  margin-top: 5rem;
}

.featured-section__title,
.shopex-section__title {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;

  h2 {
    font-family: $primary-font;
    color: #1a0b5b;
  }
}
