.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    column-gap: 30px;
}

.side-title {
    margin-bottom: 10px;
}

.side {
    display: grid;
    height: 300px;
}
.title {
    width: 100%;
    outline: 0;
    font-size: 20px;
    margin-bottom: 20px;
    border-width: 0 0 1.5px;
    border-color: #7b1fa2

}

.buttons-for-text {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.text {
    width: 100%;
    height: 800px;
    border:1px solid black;

}

.text img {
    max-width: 100%;
}

.btn {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;      
    cursor: pointer;
}


.bold-text {
    font-weight: bold;
}


.color-picker {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 200; 
    cursor: pointer; 
    overflow: hidden;
}
  
.picker {
    position: relative;
    margin:auto;
    top:30%;
}

.cancel {
    position: relative;
    margin: auto;
    top:30%;
    left: 47.5%;
}

.file-input {
    display: none;
}

@media only screen and (max-width: 800px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .publish-button {
        grid-row: 3;
    }
    
    .category {
        width: 80%;
    }

    .tag {
        width: 80%;
    }   

    .buttons-for-text {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}