@import "../../../styles/css-variables.scss";

.header {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-family: $primary-font;
    color: #332d76;
  }

  .profile-wrapper {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;

    .profile-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .user-text {
      h4 {
        cursor: pointer;
        font-family: $secondary-font;
        font-size: 1rem;
        font-weight: bold;
        color: #000;
      }
  
      p {
        color: #B2B2B2;
        font-family: $secondary-font;
        font-size: 0.8rem;
        font-weight: bold;
      }  
    }
   
    img {
      cursor: pointer;
    }
  }
}

.select-bar {
  position: absolute;
  top: 3rem;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
  color: #332d76;
  font-size: 1.1rem;
  font-family: $primary-font;
  box-shadow: 3px 3px 15px 2px rgb(160, 151, 228);
}
